<app-data-grid
        [buttonShape]="''"
        [checkBoxPadding]="'2'"
        [columns]="columns"
        [firstColumnVisibility]="true"
        [hiddenIcon]="false"
        [hiddenText]="false"
        [indicesLimit]="5"
        [paginationButtonBorder]="''"
        [paginationButtonShape]="'rounded-circle'"
        [photoPreview]="false"
        [photo]="'photos'"
        [readOnly]="false"
        [refreshButtonVisible]="true"
        [refreshMenuButtonVisible]="true"
        [rowHeight]="'1'"
        [selectAllCheckboxVisible]="true"
        [service]="getService()"
        [slide]="true"
        [tableWidth]="100"
        [title]="getTitle()"
></app-data-grid>
