<app-data-grid [columns]="columns"
               [service]="getService()"
               [title]="getTitle()"
               [buttonShape]="''"
               [firstColumnVisibility]="true"
               [paginationButtonBorder]="''"
               [paginationButtonShape]="'rounded-circle'"
               [hiddenIcon]="false"
               [hiddenText]="false"
               [readOnly]="false"
               [refreshButtonVisible]="true"
               [refreshMenuButtonVisible]="true"
               [rowHeight]="'1'"
               [selectAllCheckboxVisible]="true"
               [tableWidth]="100"
></app-data-grid>
