<app-data-grid [buttonShape]="''"
               [columns]="columns"
               [firstColumnVisibility]="true"
               [hiddenIcon]="false"
               [hiddenText]="false"
               [paginationButtonBorder]="''"
               [paginationButtonShape]="'rounded-circle'"
               [readOnly]="false"
               [refreshButtonVisible]="true"
               [refreshMenuButtonVisible]="true"
               [rowHeight]="'1'"
               [checkBoxPadding]="'2'"
               [selectAllCheckboxVisible]="true"
               [indicesLimit]="10"
               [tableWidth]="100"
               [photoPreview]="false"
               [slide]="true"
               [photo]="'photos'"
               [service]="getService()"
               [title]="getTitle()"
></app-data-grid>
